.move-card-container {
	width: 80%;
	height: 2rem;

	display: flex;
	/* justify-content: center; */
	align-items: center;
	/* background-color: royalblue; */
	margin: 0.2rem;
	border-radius: 0.5rem;
}

.move-card, .line-attribute, .eval-container {
	width: 5rem;
	height: 1.5rem;
	margin: 0 auto;

	font-size: 0.8em;
	font-weight: bold;

	border-radius: 0.25rem;

	display: flex;
	align-items: center;
	justify-content: center;
}

.move-card, .line-attribute {
	background-color: var(--color-border);
}

.move-card {
	margin-left: 0.5rem;
}

.line-attribute {
	background-color: var(--color-success);
}

.move-card-left, .move-card-right {
	display: flex;
	width: 50%;
}

.win-percentage-container {
	width: 100%;
	height: 1.5rem;
	background-color: black;
	margin: 0.5rem;

	display: flex;
	align-items: center;
	justify-content: space-between;

	border-radius: 0.25rem;
	overflow: hidden;
}

/* TODO: */
/* Maybe use position relative and absolute - same as the evalbar */
.white-win, .black-win {
	height: 100%;
	width: 20%;

	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 0.8em;
	font-weight: bold;
}

.winrate-range {
	background-color: black;
	height: 100%;
	width: 60%;

	display: flex;
}

.winrate-range-white {
	background-color: white;
	height: 100%;
}

.winrate-range-draws {
	background-color: var(--color-border);
	height: 100%;
}

.white-win  {
	background-color: white;
	color: black;
}

.black-win {
	background-color: black;
	color: white;
}
